 .u-section-1 {
  background-image: url("../images/departureBoardLady.jpg");
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 364px;
}

.u-section-1 .u-group-1 {
  margin-top: 47px;
  margin-bottom: 60px;
  min-height: 237px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 6px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 34px auto 0 30px;
}

.u-section-1 .u-text-2 {
  margin: 30px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 230px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 173px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 109px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 60px;
  height: auto;
  min-height: 31px;
  margin-top: 20px;
}

/*************************************************************************** FOR TABLE ***************************************************************************/

.row {
  overflow-x: scroll;
  display: inline-block;
}

.column {
  width: 300px;
  float: left;
  position: relative;
}

.backImage {
  position: relative;
  width: 100%;
}

.time {
  color: rgb(255, 255, 255);
  position: absolute;
  top: -15px;
  left: 10px;
  font-family: "Arial";
  font-size: 20px
}

.destination {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 0px;
  left: 10px;
  font-family: "Arial";
  font-size: 25px
}

.platformLabel {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 65px;
  left: 10px;
  font-family: "Arial";
  font-size: 15px
}

.platform {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 60px;
  left: 10px;
  font-family: "Arial";
  font-size: 35px
}

.tocImage {

  position: absolute;
  top: 650px;
  left: 0px;
  padding:3%;
  width:80%
}

.callingAtLabel {
  color: rgb(255, 217, 0);
  position: absolute;
  top: 150px;
  left: 10px;
  font-family: "Arial";
  font-size: 15px
}

[class^="ca"] {
  color: rgb(255, 255, 255);
  position: absolute;
  left: 10px;
  font-family: "Arial";
  font-size: 15px
}

.callingAtLabel {
  color: rgb(255, 217, 0);
  position: absolute;
  top: 150px;
  left: 10px;
  font-family: "Arial";
  font-size: 15px
}

.ca1 {
  top: 180px;
}

.ca2 {
  top: 210px;
}

.ca3 {
  top: 240px;
}

.ca4 {
  top: 270px;
}

.ca5 {
  top: 300px;
}

.ca6 {
  top: 330px;
}

.ca7 {
  top: 360px;
}

.ca8 {
  top: 390px;
}

.ca9 {
  top: 420px;
}

.ca10 {
  top: 450px;
}

.ca11 {
  top: 480px;
}

.ca12 {
  top: 510px;
}

.ca13 {
  top: 540px;
}

.message {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 570px;
  left: 10px;
  font-family: "Arial";
  font-size: 15px
}


[class^="timeCa"] {
  color: rgb(255, 255, 255);
  position: absolute;
  right: 10px;
  font-family: "Arial";
  font-size: 15px
}

.timeCa1 {
  top: 180px;
}

.timeCa2 {
  top: 210px;
}

.timeCa3 {
  top: 240px;
}

.timeCa4 {
  top: 270px;
}

.timeCa5 {
  top: 300px;
}

.timeCa6 {
  top: 330px;
}

.timeCa7 {
  top: 360px;
}

.timeCa8 {
  top: 390px;
}

.timeCa9 {
  top: 420px;
}

.timeCa10 {
  top: 450px;
}

.timeCa11 {
  top: 480px;
}

.timeCa12 {
  top: 510px;
}

.timeCa13 {
  top: 540px;
}